.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
}
